* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}
